@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed' sans-serif;
}

/****************************** NAVBAR **************************/

.logo {
  height: 10.265rem;
  width: 10.265rem;
}

/*** Links **/

.nav-link {
  font-weight: 700;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

